body {
    background-color: #FCE886 ;
    color: #221911;
    font-style: Arial;
    background-image: url(background.gif);
    }

header
    {
    background-image: url("javajamlogo.jpg");
    height: 150px;
    background-repeat: no-repeat;
    background-color: #D2B48C;
    }

h1
    {padding-top: 45px;
        
        padding-left: 220px;
        line-height: 200%;
    }
nav
    {
        font-size: 1.5em;
        padding-top: 10px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 200px;
    }

nav a{
    text-decoration: none;
}
footer
    {
    background-color: #D2B48C;
    border-top: 221811;
    text-align: center;
    text-decoration: 10px;
    border-top: 2px;
    text-align: center;
    }

h4{background-color: #D2B48C;
font-size: 1.2em;
padding-left: .5em;
padding-bottom: .25em;
text-transform: uppercase;
padding-bottom: 0;
border-bottom: solid;}

main {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    padding-top: 0;
    margin-left: 200px;
    background-color: #FEF6C2
    
    ;}

.detail{
    padding-left: 20%;
    padding-right: 20%;
    
}
img {
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCE886;
    min-width: 900px;
    max-width: 1290px;
    box-shadow : 2px 1px black
}


#heroroad {
    background-image: url(heroroad.jpg);
    background-size: 100%;
    height: 250px}

#heromugs
{
    background-image: url("heromugs.jpg");
    background-size: 100%;
    height: 250px}
 


#heroguitar
{background-image: url("heroguitar.jpg");
    background-size: 100%;
    height: 250px}

    * { box-sizing: border-box; }

main h2,h3,h4,p,div,ul,dl {
    padding-left: 3em;
    padding-right: 2em;
    
}

nav a {text-decoration: none;}
nav a:link {color: #FEF6C2;}
nav a:visited{color: #D2B48C}
nav a:hover{color: red;}
nav ul{marker :none;
padding-left: 0;
}

form
{padding: 2em;
}

label{
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

textarea{
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left: 9.5em;

}

#herojobs
{
  height: 250px;
  background-size: 100%;  
}

